#root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(28,34,56,1) 0%, rgba(46,28,163,1) 50%);
}

.quote {
    min-height: 40vh; 
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #4a3be7;
    border-radius: 15px;
}

.quote__text {
    max-height: 70vh;
    width: 45vw;
    padding: 2.5vw;
    color: #fff;
    font-size: 32px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    margin: auto;
}

.quote__line {
    width: 45vw;
    height: 1.5px;
    background: #fff;
}

.quote__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh 0;
}

.quote__author {
    max-width: 30vw;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.quote__change {
    cursor: pointer;
    height: 36px;
    filter: brightness(0) invert(1);
}